{% extends 'Telemetry/base.html' %}
{% block content %}
<div class="container">
	<table width="100%">
		<tr>
			{% for i in cols_list %}
			<td>
			<div>
				<h1 align="center" id="{{forloop.counter0}}_value"></h1>
				<p align="center" id="{{forloop.counter0}}_label"></p>
				<div class="dropdown" align ="center">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Sensor
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{% for item in sensors %}
					<button onclick="col_sensors[{{forloop.parentloop.counter0}}] = '{{item.sensor}}'">{{item.name}}</button>
						{% endfor %}
					</ul>
				</div>
			</div>
			</td>
			{% endfor %}
		</tr>
	</table>	
</div>

<script>
	col_sensors = new Array({{cols}})
	var i;
	for (i=0; i < col_sensors.length; i++){
		col_sensors[i] = "{{sensors.0.sensor}}"
	}
    function ajax(url, elem, label) {
      		var xhttp = new XMLHttpRequest();
      		xhttp.open("GET", url, true);
      		xhttp.onreadystatechange = function() {
        		if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
      				var array = JSON.parse(this.responseText);
      				document.getElementById(elem).innerHTML = array[0].value + " " + array[0].unit;
      				document.getElementById(label).innerHTML = array[0].name;
      			};
      		}
		xhttp.send();
      }
	  function update() {
		  {% for i in cols_list %}
		  ajax("http://localhost:5001/sensors/?sensor=" + col_sensors[{{forloop.counter0}}] + "&number=1", '{{forloop.counter0}}_value', '{{forloop.counter0}}_label');
		  {% endfor %}
	  }
      setInterval(update, 100);
</script>
{% endblock %}